################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sln.ide
*.suo
/NotificationEditor/NotificationEditor/bin/Debug
/NotificationEditor/NotificationEditor/obj/Debug
